In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm, kurtosis
import statsmodels.api as sm
from scipy.signal import find_peaks
import seaborn as sns
sns.set()
data=pd.read_csv("vibrations_ra.csv")
data

      frequency
0     -1.031900
1      0.651533
2     -0.581850
3     -0.538830
4      0.971045
...         ...
9995  -1.047985
9996  -2.034905
9997  -2.297491
9998   0.295287
9999   0.110247

[10000 rows x 1 columns]

In [46]:
data.describe()

          frequency
count  10000.000000
mean      -0.000469
std        1.225200
min       -2.961817
25%       -0.872625
50%        0.040445
75%        0.876027
max        3.022369

In [9]:
Mean=np.mean(data)
print(Mean)

-1.0318998857772272   -0.000366
dtype: float64

In [47]:
variance= np.var(data)
print(variance)

frequency    1.500964
dtype: float64

In [48]:
kurtosis(data.dropna())

array([-0.49818363])

In [49]:
data.skew(axis=0, skipna =True)

frequency   -0.000534
dtype: float64

In [50]:
data.skew(axis=1, skipna =True)

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
9995   NaN
9996   NaN
9997   NaN
9998   NaN
9999   NaN
Length: 10000, dtype: float64

In [52]:
maxx =data.sort_values('frequency',ascending=False)
maxx.head()

      frequency
2931   3.022369
8680   3.006834
6490   3.003833
2110   2.993478
741    2.988064